@using System.Diagnostics.Eventing.Reader
@using RepoNE

@model ProduktListe

@{
    ViewBag.Title = "Produkter";
    Layout = "~/Views/Shared/FrontLayout.cshtml";
}

@*<h5>@Model.Kategori.Navn</h5>*@

<div class="three columns" style="border: 2px solid orange; margin-left: 30px;">
    <table>
        <tr>
            <td>
                @if (Model != null)
                {
                    <form name="myForm" action="/Produkt/Produkter/" enctype="multipart/form-data" method="post">
                        <select name="KatID" style="width: 207px">
                            
                            @foreach (var kat in Model.KategoriList)
                            {
                                <option value="@kat.ID">@kat.Navn</option>
                            }
                        </select>
                    </form>
                }
            </td>
        </tr>
        <tr>

            <td>
                Maxpris:
                <input id="MaxPris" type="text" style="width: 207px"/>
            </td>
        </tr>
        <tr>

            <td>
                Søgeord:
                <input id="SoegeOrd" type="text"style="width: 207px"/>
            </td>
        </tr>
        <tr>
            <td>
                <input id="Submit1" type="submit" value="søg" />
            </td>
        </tr>
    </table>
</div>

@foreach (var produkt in Model.Produkter)
{
    <div class="eight columns" style="border: 1px solid gray; height: 155px; margin-bottom: 35px; margin-right: 35px; float: right;">
        <table>
            <tr>
                <td style="width: 100%; height: 35px; background-color: grey;" colspan="8">
                    @produkt.Navn
                </td>
            </tr>
            <tr>
                <td style="padding-left: 15px">
                    <img src="~/Content/Produkter/@produkt.Billede" style="width: 100px; height: 100px; margin-top:10px"/>
                </td>
                <td style="padding-left: 15px;">
                    Varenummer:
                    <br/>
                    Pris:
                    <br/>
                    Leveringstid:
                </td>
                <td style="padding-left: 10px;">
                    @produkt.Varenummer
                    <br/>
                    @produkt.Pris
                    <br/>
                    @produkt.Leveringstid
                </td>
                <td style="padding-left: 10px;">
                    Producent
                    <br/>
                    Tilbud:
                    <br/>
                    Lager antal:
                </td>
                <td style="padding-left: 10px;">
                    @produkt.Producent
                    <br/>
                    @produkt.Tildbudspris
                    <br/>
                    @produkt.Lagerantal
                </td>
                <td style="padding-left: 80px;">
                    <img src="~/Content/Produkter/info.png" style="height: 50px; width: 50px;"/>
                    <br/>
                    <a href="@produkt.ID">[Se mere]</a>



                </td>
            </tr>
        </table>
    </div>
}




